body {
	color: #FFFFFF;
	background-color: #000000;
}

.flex-master {
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	-ms-align-content: flex-start;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

	.flex-master > header, .jumbotron, .subflex, footer {
		-ms-flex: 1 0 100%;
		-webkit-flex: 1 0 100%;
		flex: 1 0 100%;
	}

.subflex {
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	-ms-align-content: stretch;
	-webkit-align-content: stretch;
	align-content: stretch;
	align-items: stretch;
}

	.subflex > .content {
		width: 400px;
		height: 250px;
		margin: 5px 10px;
		padding: 10px 20px;
		border-radius: 5px;
		background-color: #f0f0f0;
	}

/*.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-content {
	flex-basis:70%;
	overflow:scroll;
}

.side-nav {
	flex-basis:30%;
	flex-direction: column;
	background-color:#313131;
}*/


/* SINGLE USE SECTIONS */
/* Bootstrap override*/
.jumbotron {
	height: 600px;
	margin-bottom: 10px;
	background-image: url('../images/slide-bkg-operations.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.get-started h3 {
	color: #000000;
	margin-bottom: 15px;
}

.get-started p {
	color: #313131;
	font-size: 16px;
}

.get-started a {
	text-decoration: none;
	font-weight: bold;
	color: #272727;
}

/* NAVIGATION */
/* Bootstrap override*/
.navbar {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	background-color: #eaba38;
}

/* Bootstrap override*/
.nav a {
	font-size: 18px;
	text-transform: capitalize;
	color: #000000;
}

/* Bootstrap override*/
.navbar-default .navbar-nav > .active > a {
	background-color: #272727;
	color: #f0f0f0;
}
