body {
	font: 24px Helvetica;
	background: #999999;
}

.flex-master {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
}

	.flex-master > header, .jumbotron, .subflex, footer {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		margin: 4px;
		padding: 5px;
		min-height: 100px;
		border: 1px solid #0026ff;
		border-radius: 7pt;
		background: #00ff90;
	}

.subflex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}

	.subflex > .flex-content {
		width: 300px;
		height: 250px;
		margin: 4px;
		padding: 5px;
		border: 1px solid #ff0000;
		border-radius: 7pt;
		background: #ffd800;
	}


/* Too narrow to support three columns */
@media all and (max-width: 640px) {
}
